button.submit{
  color:white;
}

.report{
  background-color: #fff;
  min-height: 400px;
}

.else{
  display: flex;
  align-items: center;
  justify-content: center;

  i{
    font-size: 4em;
    color: gray;
  }
  h1{
    font-weight: bold;
    color: gray;
  }
}


.record{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title{
    width: 50%;
  }

  .value{
    color: rgb(60, 60, 60);
    text-align: right;
    width: 100px;
  }
}

.divider{
  height: 1px;
  width: 100%;
  background-color: rgb(60, 60, 60);
  margin: 5px 0;
}

.spacer{
  margin: 30px 0px;
}
.big-spacer{
  margin: 60px 0px;
}

form{
  display: flex;
  flex-wrap: wrap;
}

.form{
  margin: 30px;
}

.category{
  text-decoration: underline;
}

.header{
  font-weight: bold;
}
