<div class="container mt-4">
  <div class="create">
    <button (click)="receiptCreateModal.show()">New Receipt</button>
  </div>
</div>

<div class="list p-3 mt-5 mb-5" *ngIf="!loading; else elseLoading">
  <table mdbTable small="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of receipts">
        <td>{{el.date | date}}</td>
        <td>{{el.description}}</td>
        <td>{{el.payer_name}}</td>
        <td>{{el.received_in.name}}</td>
        <td>{{(el.qty * el.unit_price) | amount}}</td>
        <td>
          <button (click)="edit(el)" class="edit">Edit</button>
          <button (click)="view(el)" class="edit">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #elseLoading>
  <app-loading></app-loading>
</ng-template>

<div [config]="{backdrop: false, ignoreBackdropClick: true}" style="overflow-y: auto" mdbModal #receiptCreateModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myreceiptCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title w-100" id="myModalLabel">Create a new receipt</h5>
      </div>
      <div class="modal-body">
        <form  [formGroup]="receiptForm" (ngSubmit)="create()">

          <mat-form-field appearance="standard">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>receipt number</mat-label>
            <input matInput type="text" formControlName="receipt_number">
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Received in</mat-label>
            <mat-select formControlName="received_in">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option *ngFor="let item of accounts" [value]="item">{{item.name}}</mat-option>
            </mat-select>
            <div *ngIf="receiptForm.controls.received_in.invalid && (receiptForm.controls.received_in.dirty || receiptForm.controls.received_in.touched)">
              <mat-error *ngIf="receiptForm.controls.received_in?.hasError('required')">Required</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Payer</mat-label>
            <mat-select formControlName="payer_type">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option [value]="'customer'">Customer</mat-option>
                  <mat-option [value]="'supplier'">Supplier</mat-option>
                  <mat-option [value]="'other'">Other</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="payer_type == 'supplier'" appearance="standard" class="form">
            <mat-label>Supplier</mat-label>
            <mat-select formControlName="payer">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option *ngFor="let item of suppliers" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="payer_type == 'customer'" appearance="standard" class="form">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="payer">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option *ngFor="let item of customers" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="payer_type == 'other'" appearance="standard" class="form">
            <mat-label>Payer name</mat-label>
            <input matInput type="text" formControlName="payer">
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Description</mat-label>
            <input matInput type="text" formControlName="description">
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Receipt type</mat-label>
            <mat-select formControlName="receipt_type">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option [value]="'item'">Item</mat-option>
                  <mat-option [value]="'account receivable'">Account Payable</mat-option>
                  <mat-option [value]="'coa'">Others</mat-option>
            </mat-select>
            <div *ngIf="receiptForm.controls.receipt_type.invalid && (receiptForm.controls.receipt_type.dirty || receiptForm.controls.receipt_type.touched)">
              <mat-error *ngIf="receiptForm.controls.receipt_type?.hasError('required')">Required</mat-error>
            </div>
          </mat-form-field>

          <div *ngIf="receipt_type == 'item'">
            <mat-form-field appearance="standard" class="form">
              <mat-label>Item</mat-label>
              <mat-select formControlName="item">
                    <mat-option [value]="null">Select</mat-option>
                    <mat-option *ngFor="let item of items" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <div *ngIf="receiptForm.controls.item.invalid && (receiptForm.controls.item.dirty || receiptForm.controls.item.touched)">
                <mat-error *ngIf="receiptForm.controls.item?.hasError('required')">Required</mat-error>
              </div>
            </mat-form-field>
          </div>

          <div *ngIf="receipt_type == 'coa'">
            <mat-form-field appearance="standard" class="form">
              <mat-label>Account</mat-label>
              <mat-select formControlName="coa">
                    <mat-option [value]="null">Select</mat-option>
                    <mat-optgroup *ngFor="let group of coas" [label]="group.name">
                    <mat-option *ngFor="let item of group.chart_of_accounts" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-optgroup>
              </mat-select>
              <div *ngIf="receiptForm.controls.coa.invalid && (receiptForm.controls.coa.dirty || receiptForm.controls.coa.touched)">
                <mat-error *ngIf="receiptForm.controls.coa?.hasError('required')">Required</mat-error>
              </div>
            </mat-form-field>
          </div>

          <div *ngIf="receipt_type == 'account receivable'">
            <mat-form-field appearance="standard" class="form">
              <mat-label>Customer</mat-label>
              <mat-select formControlName="customer_receivable">
                    <mat-option [value]="null">Select</mat-option>
                    <mat-option *ngFor="let item of customers" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <div *ngIf="receiptForm.controls.customer_receivable.invalid && (receiptForm.controls.customer_receivable.dirty || receiptForm.controls.customer_receivable.touched)">
                <mat-error *ngIf="receiptForm.controls.customer_receivable?.hasError('required')">Required</mat-error>
              </div>
            </mat-form-field>
            <mat-form-field appearance="standard" class="form">
              <mat-label>Invoice</mat-label>
              <mat-select formControlName="invoice_receivable">
                    <mat-option [value]="null">select</mat-option>
                    <mat-option *ngFor="let item of invoices" [value]="item.id">{{item.invoice_number}}</mat-option>
              </mat-select>
              <div *ngIf="receiptForm.controls.invoice_receivable.invalid && (receiptForm.controls.invoice_receivable.dirty || receiptForm.controls.invoice_receivable.touched)">
                <mat-error *ngIf="receiptForm.controls.invoice_receivable?.hasError('required')">Required</mat-error>
              </div>
            </mat-form-field>
          </div>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Qty</mat-label>
            <input matInput type="number" formControlName="qty">
            <div *ngIf="receiptForm.controls.qty.invalid && (receiptForm.controls.qty.dirty || receiptForm.controls.qty.touched)">
              <mat-error *ngIf="receiptForm.controls.qty?.hasError('required')">Required</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Unit price</mat-label>
            <input matInput type="number" formControlName="unit_price">
            <div *ngIf="receiptForm.controls.unit_price.invalid && (receiptForm.controls.unit_price.dirty || receiptForm.controls.unit_price.touched)">
              <mat-error *ngIf="receiptForm.controls.unit_price?.hasError('required')">Required</mat-error>
            </div>
          </mat-form-field>
          <strong>Total: </strong> {{total.toLocaleString()}}
          <div class="mt-5">
            <button [ngStyle]="{'background-color': submit? 'white':'#0087DD'}" [disabled]="!receiptForm.valid" class="submit" type="submit" mat-button>
              <span *ngIf="!submit" class="text-light">Create</span>
              <div *ngIf="submit" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div [config]="{backdrop: false, ignoreBackdropClick: true}" style="overflow-y: auto" mdbModal #receiptEditModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myreceiptEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title w-100" id="myModalLabel">Edit trasnfer</h5>
      </div>
      <div class="modal-body">
        <form  [formGroup]="receiptForm" (ngSubmit)="update()">

          <mat-form-field appearance="standard">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>receipt number</mat-label>
            <input matInput type="text" formControlName="receipt_number">
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Received in</mat-label>
            <mat-select formControlName="received_in">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option *ngFor="let item of accounts" [value]="item">{{item.name}}</mat-option>
            </mat-select>
            <div *ngIf="receiptForm.controls.received_in.invalid && (receiptForm.controls.received_in.dirty || receiptForm.controls.received_in.touched)">
              <mat-error *ngIf="receiptForm.controls.received_in?.hasError('required')">Required</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Payer</mat-label>
            <mat-select formControlName="payer_type">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option [value]="'customer'">Customer</mat-option>
                  <mat-option [value]="'supplier'">Supplier</mat-option>
                  <mat-option [value]="'other'">Other</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="payer_type == 'supplier'" appearance="standard" class="form">
            <mat-label>Supplier</mat-label>
            <mat-select formControlName="payer">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option *ngFor="let item of suppliers" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="payer_type == 'customer'" appearance="standard" class="form">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="payer">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option *ngFor="let item of customers" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="payer_type == 'other'" appearance="standard" class="form">
            <mat-label>Payer name</mat-label>
            <input matInput type="text" formControlName="payer">
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Description</mat-label>
            <input matInput type="text" formControlName="description">
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Receipt type</mat-label>
            <mat-select formControlName="receipt_type">
                  <mat-option [value]="null">Select</mat-option>
                  <mat-option [value]="'item'">Item</mat-option>
                  <mat-option [value]="'account receivable'">Account Receivable</mat-option>
                  <mat-option [value]="'coa'">Others</mat-option>
            </mat-select>
            <div *ngIf="receiptForm.controls.receipt_type.invalid && (receiptForm.controls.receipt_type.dirty || receiptForm.controls.receipt_type.touched)">
              <mat-error *ngIf="receiptForm.controls.receipt_type?.hasError('required')">Required</mat-error>
            </div>
          </mat-form-field>

          <div *ngIf="receipt_type == 'item'">
            <mat-form-field appearance="standard" class="form">
              <mat-label>Item</mat-label>
              <mat-select formControlName="item">
                    <mat-option [value]="null">Select</mat-option>
                    <mat-option *ngFor="let item of items" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <div *ngIf="receiptForm.controls.item.invalid && (receiptForm.controls.item.dirty || receiptForm.controls.item.touched)">
                <mat-error *ngIf="receiptForm.controls.item?.hasError('required')">Required</mat-error>
              </div>
            </mat-form-field>
          </div>

          <div *ngIf="receipt_type == 'coa'">
            <mat-form-field appearance="standard" class="form">
              <mat-label>Account</mat-label>
              <mat-select formControlName="coa">
                    <mat-option [value]="null">Select</mat-option>
                    <mat-optgroup *ngFor="let group of coas" [label]="group.name">
                    <mat-option *ngFor="let item of group.chart_of_accounts" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-optgroup>
              </mat-select>
              <div *ngIf="receiptForm.controls.coa.invalid && (receiptForm.controls.coa.dirty || receiptForm.controls.coa.touched)">
                <mat-error *ngIf="receiptForm.controls.coa?.hasError('required')">Required</mat-error>
              </div>
            </mat-form-field>
          </div>

          <div *ngIf="receipt_type == 'account receivable'">
            <mat-form-field appearance="standard" class="form">
              <mat-label>Customer</mat-label>
              <mat-select formControlName="customer_receivable">
                    <mat-option [value]="null">Select</mat-option>
                    <mat-option *ngFor="let item of customers" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <div *ngIf="receiptForm.controls.customer_receivable.invalid && (receiptForm.controls.customer_receivable.dirty || receiptForm.controls.customer_receivable.touched)">
                <mat-error *ngIf="receiptForm.controls.customer_receivable?.hasError('required')">Required</mat-error>
              </div>
            </mat-form-field>
            <mat-form-field appearance="standard" class="form">
              <mat-label>Invoice</mat-label>
              <mat-select formControlName="invoice_receivable">
                    <mat-option [value]="null">select</mat-option>
                    <mat-option *ngFor="let item of invoices" [value]="item.id">{{item.invoice_number}}</mat-option>
              </mat-select>
              <div *ngIf="receiptForm.controls.invoice_receivable.invalid && (receiptForm.controls.invoice_receivable.dirty || receiptForm.controls.invoice_receivable.touched)">
                <mat-error *ngIf="receiptForm.controls.invoice_receivable?.hasError('required')">Required</mat-error>
              </div>
            </mat-form-field>
          </div>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Qty</mat-label>
            <input matInput type="number" formControlName="qty">
            <div *ngIf="receiptForm.controls.qty.invalid && (receiptForm.controls.qty.dirty || receiptForm.controls.qty.touched)">
              <mat-error *ngIf="receiptForm.controls.qty?.hasError('required')">Required</mat-error>
            </div>
          </mat-form-field>

          <mat-form-field appearance="standard" class="form">
            <mat-label>Unit price</mat-label>
            <input matInput type="number" formControlName="unit_price">
            <div *ngIf="receiptForm.controls.unit_price.invalid && (receiptForm.controls.unit_price.dirty || receiptForm.controls.unit_price.touched)">
              <mat-error *ngIf="receiptForm.controls.unit_price?.hasError('required')">Required</mat-error>
            </div>
          </mat-form-field>
          <strong>Total: </strong> {{total.toLocaleString()}}

          <div class="mt-5">
            <button [ngStyle]="{'background-color': submit? 'white':'#0087DD'}" [disabled]="!receiptForm.valid" class="submit" type="submit" mat-button>
              <span *ngIf="!submit" class="text-light">Update</span>
              <div *ngIf="submit" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
            <button (click)="confirmDelete()" class="submit ml-3 btn-danger" type="button" mat-button>
              Delete
            </button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
