<div class="card">

  <div class="m-5">
    <h4><strong>Dashboard</strong></h4>
  </div>
  <div class="col-12">

    <form  [formGroup]="durationForm">
      <div class="form">
        <div><label for="">From</label></div>
        <mat-form-field appearance="standard">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="pickerFrom" formControlName="from">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
      </div>

     <div class="form">
      <div><label for="">To</label></div>
      <mat-form-field appearance="standard">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="pickerTo" formControlName="to">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
     </div>

     <div class="ml-5">
      <button (click)="generateData()" [ngStyle]="{'background-color': submit? 'white':'#0087DD'}" class="submit" mat-button>
        <span *ngIf="!submit" class="text-light">Filter</span>
        <mat-progress-bar *ngIf="submit" mode="indeterminate"></mat-progress-bar>
      </button>
      </div>
    </form>

  </div>

<div *ngIf="showResult; else showLoader " class="animated fadeIn row p-3">

  <div  class="col-12 col-md-6">

    <div class="box color-3">
      <div class="ellips">
        <i class="icon fa fa-database"></i>
        <i class="fa fa-bars"></i>
      </div>
      <div class="content">
        <div class="detail">
          <span class="title">Assets</span>
          <span class="count">{{data.assets.total | amount}}</span>
        </div>
        <div class="divider"></div>
        <div *ngFor="let item of assets" class="summary">
          <div class="title">
            {{item.assets}}
          </div>
          <div class="value">
            {{item.value | amount}}
          </div>
        </div>
        <div *ngFor="let item of data.assets.accounts.accounts" class="summary">
          <div class="title">
            {{item.name}}
          </div>
          <div class="value">
            {{item.balance | amount}}
          </div>
        </div>
      </div>
    </div>

    <div class="box color-3">
      <div class="ellips">
        <i class="icon fa fa-database"></i>
        <i class="fa fa-bars"></i>
      </div>
      <div class="content">
        <div class="detail">
          <span class="title">Liabilities</span>
          <span class="count">{{data.liabilities.total | amount}}</span>
        </div>
        <div class="divider"></div>
        <div *ngFor="let item of liabilities" class="summary">
          <div class="title">
            {{item.liabilities}}
          </div>
          <div class="value">
            {{item.value | amount}}
          </div>
        </div>
        <div *ngFor="let item of data.liabilities.accounts.accounts" class="summary">
          <div class="title">
            {{item.name}}
          </div>
          <div class="value">
            {{item.balance | amount}}
          </div>
        </div>
      </div>
    </div>

    <div class="box color-3">
      <div class="ellips">
        <i class="icon fa fa-database"></i>
        <i class="fa fa-bars"></i>
      </div>
      <div class="content">
        <div class="detail">
          <span class="title">Equity</span>
          <span class="count">{{data.equity.total | amount}}</span>
        </div>
        <div class="divider"></div>
        <div *ngFor="let item of equity" class="summary">
          <div class="title">
            {{item.equity}}
          </div>
          <div class="value">
            {{item.value | amount}}
          </div>
        </div>
        <div *ngFor="let item of data.equity.accounts.accounts" class="summary">
          <div class="title">
            {{item.name}}
          </div>
          <div class="value">
            {{item.balance | amount}}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div  class="col-12 col-md-6">

    <div class="box color-3">
      <div class="ellips">
        <i class="icon fa fa-database"></i>
        <i class="fa fa-bars"></i>
      </div>
      <div class="content">
        <div class="detail">
          <span class="title">Income</span>
          <span class="count">{{data.income.total | amount}}</span>
        </div>
        <div class="divider"></div>
        <div *ngFor="let item of income" class="summary">
          <div class="title">
            {{item.income}}
          </div>
          <div class="value">
            {{item.value | amount}}
          </div>
        </div>
        <div *ngFor="let item of data.income.accounts.accounts" class="summary">
          <div class="title">
            {{item.name}}
          </div>
          <div class="value">
            {{item.balance | amount}}
          </div>
        </div>
      </div>
    </div>

    <div class="box color-3">
      <div class="ellips">
        <i class="icon fa fa-database"></i>
        <i class="fa fa-bars"></i>
      </div>
      <div class="content">
        <div class="detail">
          <span class="title">Expenses</span>
          <span class="count">{{data.expenses.total | amount}}</span>
        </div>
        <div class="divider"></div>
        <div *ngFor="let item of expenses" class="summary">
          <div class="title">
            {{item.expenses}}
          </div>
          <div class="value">
            {{item.value | amount}}
          </div>
        </div>
        <div *ngFor="let item of data.expenses.accounts.accounts" class="summary">
          <div class="title">
            {{item.name}}
          </div>
          <div class="value">
            {{item.balance | amount}}
          </div>
        </div>
      </div>
    </div>

    <div class="box color-3">
      <div class="ellips">
        <i class="icon fa fa-database"></i>
        <i class="fa fa-bars"></i>
      </div>
      <div class="content">
        <div class="detail">
          <span class="title">{{data.profit_loss >= 0? 'Net profit' : 'Net loss'}}</span>
          <span class="count">{{absolute(data.profit_loss)  | amount}}</span>
        </div>
      </div>
    </div>

  </div>


</div>
<ng-template #showLoader>
  <div class="m-5">
    <mat-progress-bar class="bg-primary" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>


</div>
